<%- include('partials/header') -%>
<h1>CHEF DASH</h1>
<h2>These are the Current orders</h2>

<% for( let i = 0; i < orders.length; i++ ) { %>
<h2><%= orders[i]%></h2>
<% } %> <%- include('partials/footer') -%>
