<%- include('partials/header') -%>
<div></div>
<h2>Confirming order</h2>
<% for( let i = 0; i < order.length; i++ ){%>

<h1><%=order[i].name%></h1>
<% } %>
<div></div>
<%- include('partials/footer') -%>
