<%- include('partials/header') -%>
<div class="mt-5">
  <h2>Add an Item</h2>
  <form action="/createItem" method="POST">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" />
    <label for="desc">Describe your Dish</label>
    <input type="text" name="desc" id="desc" />
    <label for="ingredients">List ingredients</label>
    <input type="text" name="ingredients" id="ingredients" />
    <label for="course">Which course is your dish</label>
    <input type="text" name="course" id="course" />
    <button type="submit">Submit</button>
  </form>
</div>
<% for( let i = 0; i < orders.length; i++ ) { %>
<h2><%=orders[i]%></h2>
<% } %> <%- include('partials/footer') -%>
