<%- include('partials/header') -%>

<div id="banner" class="d-flex">
  <div class="banner-left"></div>
  <div class="banner-right">
    <h1>Restaurant quality food delivered right to your door.</h1>
    <p>
      We provide our chefs with a platform to truly show off their dishes for
      their customers.
    </p>

    <p>
      <a id="signup-link" href="/signup">Sign up</a> for a free account today to
      see what Cheffie can do for you.
    </p>
  </div>
</div>

<footer class="bg-light text-center text-lg-start mt-5">
  <%- include('partials/footer') -%>

