<%- include('partials/header') -%>
<div class="container">
  <h1 style="text-align: center">Thank You!</h1>
  <iframe
    src="https://giphy.com/embed/rCknyN636Sfb4bN2Zm"
    width="480"
    height="400"
    frameBorder="0"
    class="giphy-embed"
    allowFullScreen
    style="display: block; margin: auto"
  ></iframe>
  <p>
    <a href="https://giphy.com/gifs/theoffice-rCknyN636Sfb4bN2Zm">via GIPHY</a>
  </p>
</div>
<%- include('partials/footer') -%>
