body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(137, 153, 200);
}

a {
  color: #0698fa;
}

.signup-form {
  width: 20%;
  margin: 3rem auto;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.theForce {
  border: 3px solid rgb(235, 122, 16) !important;
}

.fulfilled {
  opacity: 0.3;
}
.fulfilled .deleteButton {
  background-color: red;
}

.banner-left {
  background-image: url("../../images/banner.jpg");
  margin-bottom: 0px;
  height: 800px;
  width: 45%;
  object-fit: contain;
}
.banner-right {
  height: 800px;
  width: 55%;
  padding: 1rem 0 0 1rem;
  margin-bottom: 0px;
}

.banner-right > h1 {
  color: white;
  font-size: 4rem;
  margin-bottom: 7rem;
}

.banner-right > p {
  margin-top: 2rem;
  font-size: 2rem;
  line-height: 2.5rem;
}

#signup-link {
  color: white;
  text-decoration: none;
}

#signup-link:hover {
  color: rgb(26, 54, 212);
}
